<p style="float: right">
 {{ "now" | date: "%m/%d/%y" }}
</p>

<h1 style="font-family: Verdana, sans-serif">{{ shop_name }}</h1>

<h3>Invoice</h3>

<p>Your order: {{ order_name }}</p>

<p>Thanks for buying the following products from our shop:</p>

{% for line_item in line_items %}
  {{ line_item.quantity }} x {{ line_item.title }} &mdash; {{ line_item.price | money }}<br/>
{% endfor %}

<h3>Payment Details</h3>
<p><em>Payment method: {{ gateway }}</em></p>

<table>
  <tr>
    <td>Subtotal price:</td>
    <td>{{ subtotal_price | money }}</td>
  </tr>
  <tr>
    <td>Total tax:</td>
    <td>{{ tax_price | money }}</td>
  </tr>
  <tr>
    <td>Shipping:</td>
    <td>{{ shipping_price | money }}</td>
  </tr>
  <tr>
    <td style="border-top: 1px solid #333"><strong>Total price:</strong></td>
    <td style="border-top: 1px solid #333">{{ total_price | money }}</td>
  </tr>
</table>

<p>
{% if note %}
  Note: {{ note }}<br/>
{% endif %}
</p>

<h4>Your items will be shipped to:</h4>

<div style="padding: 8px; border: 2px solid #ccc;">
  {{ shipping_address.name }}<br/>
  {% if shipping_address.company %}
    {{ shipping_address.company }}<br/>
  {% endif %}
  {{ shipping_address.street }}<br/>
  {{ shipping_address.city }}
  {{ shipping_address.province }}
  {{ shipping_address.zip | upcase }}
  {{ shipping_address.country }}<br/>
</div>

<p>
  If you have any questions, please send an email to 
  <u>Enter@YourEmail.com</u>
</p>