<h1>{{ shop_name }}</h1>

Thank you for your business with us.

<br/>

<h3>Payment Details</h3>
<p>
  Amount: {{ total_price | money }}<br/>
  Invoice: {{ name }}<br/>
  Payment method: {{ gateway }}<br/>
  
  {% if !note.blank %}
    Description: {{ note }}<br/>
  {% endif %}
</p>

Buyer:
<div>
  {{ customer.name }}<br/>
  {{ billing_address.company }}<br/>
  {{ billing_address.street }}<br/>
  {{ billing_address.city }}<br/>
  {{ billing_address.zip }}<br/>
  {{ billing_address.country }}<br/>
</div>

If you have any questions, please send an email to 
<a href="mailto:{{ shop_email }}">{{ shop_email }}</a>