<div style="padding: 8px; border: 2px solid #ccc;">
  {{ shipping_address.name }}<br/>
  {{ shipping_address.company }}<br/>
  {{ shipping_address.street }}<br/>
  {{ shipping_address.city }}<br/>
  {{ shipping_address.zip }}<br/>
  {{ shipping_address.country }}<br/>
</div>