<h1>Hello from {{shop_name}}</h1>

<b>Order name</b>:      {{order_name}}<br/>
<b>Order name</b>:      {{name}} (different variable, same content)<br/>
<b>Order Number</b>:    {{order_number}}<br/><br/>

<b>Gateway used</b>:    {{ gateway }}<br/>
<b>Shipping method</b>: {{ shipping_method.title }}<br/><br/>

<b>Subtotal price</b>:  {{ subtotal_price | money }}<br/>
<b>Tax Price</b>:       {{ tax_price | money }}<br/>
<b>Shipping price</b>:  {{ shipping_price | money }}<br/>
<b>Total price:</b>     {{ total_price | money }}<br/><br/>

<b>Note</b>:       {{ note }}<br/>
<b>Attributes</b>: {{ attributes }}<br/><br/>

<b>Customer name and email:</b> {{ customer.name }} - <u>{{ customer.email }}</u><br/>
<b>Customer Email:</b> {{ email }} <em>(different variable, same content)</em><br/><br/>


<h3>Shipping Address</h3>
{{ shipping_address.name }}<br/>
{{ shipping_address.street }}<br/>
{{ shipping_address.city }}
{{ shipping_address.province }}
{{ shipping_address.zip | upcase }}<br/>
{{ shipping_address.country }}<br/>
{{ shipping_address.phone }}<br/>


<h3>Billing Address</h3>
{{ billing_address.last_name }}, {{ billing_address.first_name }}<br/>
{{ billing_address.street }}<br/>
{{ billing_address.city }}
{{ billing_address.province }}
{{ billing_address.zip | upcase }}<br/>
{{ billing_address.country }}<br/>
{{ billing_address.phone }}<br/>


<h3>Line Items</h3>
{% for line_item in line_items %}
  <p>{{ line_item.quantity }} x {{ line_item.title }}		(SKU: {{ line_item.sku }})</p>

  <ul>
    <li>ID:         {{ line_item.id }}</li>
    <li>VARIANT:    {{ line_item.variant }}</li>
    <li>PRODUCT:    {{ line_item.product }}</li>
    <li>PRICE:      {{ line_item.price }}</li>
    <li>LINE PRICE: {{ line_item.line_price }}</li>
    <li>TAX:        {{ line_item.tax }}</li>
    <li>GRAMS:      {{ line_item.grams }}</li>
    <li>VENDOR:     {{ line_item.vendor }}</li>
  </ul>
{% endfor %}


<h4>Fulfilled line items</h4>
{% for line in fulfilled_line_items %}
  {{ line.quantity }} x {{line.title }}		(sku: {{ line.sku }})
{% endfor %}


<h4>Unfulfilled line items</h4>
{% for line in unfulfilled_line_items %}
  {{ line.quantity }} x {{line.title }}		(sku: {{ line.sku }})
{% endfor %}