<div id="sidebar">
  
</div>


<div id="orders">
  <h2>Your recent orders</h2>

  <% if @orders.blank? %>  

    <em class="note">There are no orders in your store.</em>

  <% else %>

    <ul>
    <% @orders.each do |order| %>
      <li>
        <div class="order box">
          <div class="wrapper">
            <strong><%= link_to order.name, "http://#{current_shop.url}/admin/orders/#{order.id}" %></strong>
            <span class="price"><%= order.total_price %> <%= order.currency %></span>
            <span class="highlight"><%= order.financial_status %></span>
            by <span class="note"><%= order.billing_address.name %></span>
          </div>
        </div>
      </li>
    <% end %>
    </ul>

  <% end %>
</div>