<iframe src='<%= url_for(:controller => 'orders', :action => 'preview', :id => order, :template_id => tmpl) %>' 
        onload="Callback.trigger('<%= tmpl.id %>')" 
        name="iframe-popup-preview" 
        scrolling="auto" 
        height="80%"
        width="100%" 
        frameborder="0">
</iframe>


<% javascript_tag do %>
  Callback.prepare(<%= tmpl.id %>, function() { Status.hide(); });
<% end %>


<div class="button-panel">
  <p class="buttons">
    <%= button_to_function "Print this template", "var iframe = frames[frames.length-1]; iframe.focus(); iframe.print();"%>
    or
    <%= button_to_remote "Edit", :url => {:controller => 'print_templates', :action => 'edit', :id => tmpl}, :method => 'get', :loading => "Status.reset(); Status.show();" %>
    or
    <%= link_to_function "Cancel", "Status.hide(); Dialog.close();" %>
  </p>
</div>