<% content_tag(:li, :class => "template-item", :id => "template-item-#{tmpl.id}") do %>
  <span class="template-options" style="display: <%= defined?(options_hidden) ? 'none' : 'inline' %>">   
    <%= link_to_remote image_tag("trash.gif"), :url => tmpl, :method => :delete, :confirm => "Are you sure you want to delete the template named #{tmpl.name}?" %>
    <%= link_to_remote "edit", :url => [:edit, tmpl], :method => 'get' %>
  </span>

  <%= check_box_tag 'print_templates[]', tmpl.id, tmpl.default, :id => "template-checkbox-#{tmpl.id}", :onclick => "Templates.updateSelection($(this));" %>
  <%= label_tag "template-checkbox-#{tmpl.id}", tmpl.name %>
<% end %>