<% title "Your orders", :description => "Select the order you want to print. You can choose different templates for various purposes."%>

<div class="itemlist">
  <% if @orders.blank? %>  

    <em class="note">There are no orders in your store.</em>

  <% else %>

    <ul>
    <% @orders.each do |order| %>
      <li>
        <div class="order box" onmouseover="$('#<%= "print-#{dom_id(order)}" %>').show();" onmouseout="$('#<%= "print-#{dom_id(order)}" %>').hide();">
          <strong><%= link_to order.name, :action => 'show', :id => order %></strong>
          <span class="price"><%= order.total_price %> <%= order.currency %></span>
          <span class="highlight"><%= order.financial_status %></span>
          by <span class="note"><%= order.billing_address.name %></span>
          
          <%= preview_link(@default_template.id, order.id, :html => {:class => 'side-link action', :id => "print-#{dom_id(order)}"}, :templates => @tmpls) %>
        </div>
      </li>
    <% end %>
    </ul>
    <%= preview_status %>
  <% end %>
</div>