<div id="preview" style="width:600px; margin:auto" >
  <div class="preview-top" style="float:left"></div>
    <div class="preview-wrapper" style="float:left; margin-left:1px">
      <div class="preview-content">
  
    		<h1>Recent orders</h1>
    		<p class="description">
    		  You got redirected to this screen because there is no order selected yet.
    		  To get to the order preview screen either select an order in the 
    		  <%= link_to "Shopify admin interface", shop_admin_url('orders') %>
    		  or click on one of the latest orders below.
    		</p>
    		<div class="itemlist">
    		  <% if @orders.blank? %>  
    		  <em class="note">
            There are no orders in your store. You need a visible order first to see a preview of any template.
    		  </em>
    		  <% else %>
    		  <em class="note">  		    
    		    For convenience we fetched your latest <%= pluralize(@orders.size, 'order') %>:
    		  </em>
    		  <ul>
    		    <% @orders.each do |order| %>
    		    <li>
    		      <div class="order">
    		        <strong><%= link_to order.name, :action => 'show', :id => order %></strong>
    		        <span class="price"><%=  money_with_currency(order.total_price, true) %></span>
    		        <%= order_status(order) %>
    		        by <span class="note"><%= order.billing_address.name %></span>
    		      </div>
    		    </li>
    		    <% end %>
    		  </ul>
    		  <% end %>
    		</div>
		
      </div>
    </div> <!-- preview-wrapper -->
  <div class="preview-bottom" style="float:left"></div>
</div> <!-- preview -->