<h1>Your orders</h1>
<p class="note">Select the order you want to print. You can choose different templates for various purposes.</p>

<div id="modal-dialog"></div>


<div class="itemlist">
  <% if @orders.blank? %>  
    <em class="note">There are no orders in your store.</em>
  <% else %>
    <ul>
    <% @orders.each do |order| %>
      <li>
        <div class="order box" onmouseover="$('#<%= "preview-link-#{dom_id(order)}" %>').show();" onmouseout="$('#<%= "preview-link-#{dom_id(order)}" %>').hide();">
          <strong><%= link_to order.name, :action => 'show', :id => order %></strong>
          <span class="price"><%= order.total_price %> <%= order.currency %></span>
          <span class="highlight"><%= order.financial_status %></span>
          by <span class="note"><%= order.billing_address.name %></span>
        </div>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>