<% title "Your orders", :description => "You can print orders or save them as a PDF file using different templates"%>

<div id="sidebar">
</div>

<div class="itemlist">
  <% if @orders.blank? %>  

    <em class="note">There are no orders in your store.</em>

  <% else %>

    <ul>
    <% @orders.each do |order| %>
      <li>
        <div class="order box" onmouseover="$('#<%= "print-#{dom_id(order)}" %>').show();" onmouseout="$('#<%= "print-#{dom_id(order)}" %>').hide();">
          <div class="wrapper">
            <strong><%= link_to order.name, "http://#{current_shop.url}/admin/orders/#{order.id}" %></strong>
            <span class="price"><%= order.total_price %> <%= order.currency %></span>
            <span class="highlight"><%= order.financial_status %></span>
            by <span class="note"><%= order.billing_address.name %></span>
            <%= link_to "Print", {:controller => 'print_templates', :action => 'preview', :order_id => order.id}, :class => 'side-link action', :id => "print-#{dom_id(order)}" %>          
          </div>
        </div>
      </li>
    <% end %>
    </ul>

  <% end %>
</div>