<div class="order">
  <h2>Order <%= @order.name %></h2>
  <%= link_to "Go back to original order", @order.url, :title => "Open order in Shopify admin interface", :class => 'action' %>
</div>


<!-- This is populated later via AJAX and popped up with the dialog function of JQueryUI -->
<div id="modal-dialog">
</div>

<% sidebar do %>

  <% if @tmpls.blank? %>
    <em class="note">No templates found, you should create a new one.</em>
  <% else %>
    <div class="print-box">
      <h3>Templates</h3>
      <p id="print-start" class="note">
        Select the templates you want to print for this order.
      </p>

      <p id="print-button" class="note">
        <span id="template-amount">The ollowing templates</span> will be printed.<br/>
        <%= button_to_function "Print", "Templates.print()" %>
      </p>
    </div>
    
    <% form_tag({:action => 'print'}, :id => "selected-templates") do %>
      <ul id="print-list">
      <% @tmpls.each do |tmpl| %>
        <%= render :partial => 'template_checkbox', :locals => {:tmpl => tmpl, :order => @order} %>
      <% end %>
      <li id="template-create-link">
        <%= link_to_remote "Create new template", :url => {:controller => 'print_templates', :action => 'new'}, 
                                                  :loading => "Status.show()", :complete => "Status.hide()", :html => {:class => 'action'} %>
      </li>
      </ul>
    <% end %>
  <% end %>
  
<% end %>


<!-- Empty Containers in correct order, ready to be filled with AJAX previews -->
<div id="preview">
  <% @tmpls.each do |tmpl| %> <div id="preview-<%= tmpl.id %>"></div> <% end %>
</div>


<% content_for :javascript do %>
  Templates.initialize('<%= @order.id %>');

  // load default template previews on start
  $("#selected-templates :checkbox:checked").each(function() {
    Templates.updateSelection($(this));
  });
  

  // both live event handlers make sure the events also work for ajax inserted elements later on
  
  $("#selected-templates :checkbox").live("change", function() {
    Templates.updateSelection($(this));
  });

  $(".template-item a.preview-link").live("click", function() {
    // hacky, get the id of the template from the link-id
    var template = $(this).attr('id').match(/\d+/)[0];
  	Templates.preview(template);
    return false;
  });

  $(window).bind('resize', function() { IFrame.resizeAll(); });
<% end %>