<% nav_link(@order.url, "Go back to original order", :title => "Open order in Shopify admin interface") %>

<!-- This is populated later via AJAX and popped up with the dialog function of JQueryUI -->
<div id="modal-dialog">
</div>

<% sidebar do %>
  <h4>Select the template you want to print:</h4>
  <% if @tmpls.blank? %>

    <em class="note">No templates found, you should create a new one.</em>

  <% else %>
    <% form_tag({:action => 'print'}, :id => "selected-templates") do %>
      <ul id="print-list">
      <% @tmpls.each do |tmpl| %>
        <%= render :partial => 'template_checkbox', :locals => {:tmpl => tmpl, :order => @order} %>
      <% end %>
      <li id="template-create-link"><%= link_to_remote "Create new template", :url => {:controller => 'print_templates', :action => 'new'}, :loading => "Status.show()" %></li>
      </ul>
      <%= button_to_function "Print", "window.print()", :id => "print-button" %>
    <% end %>
  <% end %>
<% end %>


<div class="order box">
  <strong><%= @order.name %></strong>
  <span class="price"><%= @order.total_price %> <%= @order.currency %></span>
  <span class="highlight"><%= @order.financial_status %></span>
  by <span class="note"><%= @order.billing_address.name %></span>
</div>

<!-- Empty Containers in correct order, ready to be filled with AJAX previews -->
<div id="preview">
  <% @tmpls.each do |tmpl| %> <div id="preview-<%= tmpl.id %>"></div> <% end %>
</div>


<% content_for :javascript do %>
  Templates.checkAll('<%= @order.id %>')
  
  $("#selected-templates :checkbox").live("change", function() {
    Templates.checkAll('<%= @order.id %>')
  })
  
  $(".template-item a").live("click", function() {
    // get the id of the template
    var template = $(this).attr('id').match(/\d+/)[0]
    $.ajax({
      beforeSend: function(request) { Status.show('Generating preview...') }, 
      dataType: 'script', 
      type: 'get',
      url: '/print_templates/' + template  + '?order_id=' + <%= @order.id %>
    })
    return false
  })
  
<% end %>