<% nav_link :action => 'index' %>
<% nav_link(@order.url, "View original order", :title => "Open order in Shopify admin interface") %>

<div id="sidebar">
  <h4>Select the template you want to print:</h4>
  <% if @tmpls.blank? %>

    <em class="note">No templates found, you should create a new one.</em>

  <% else %>
    <% form_tag({:action => 'print'}, :id => "selected-templates") do %>
      <ul id="print-list">
      <% @tmpls.each do |tmpl| %>
        <li>
          <%= check_box_tag 'print', tmpl.id, tmpl.default, :id => "template-checkbox-#{tmpl.id}" %>
          <%= link_to tmpl.name, :controller => 'print_templates', :action => 'show', :id => tmpl %>
        </li>
      <% end %>
      </ul>
      <%= button_to_function "Print", "window.print()", :id => "print-button", :style => "display: none" %>
    <% end %>
  <% end %>
</div>

<div class="order box">
  <strong><%= @order.name %></strong>
  <span class="price"><%= @order.total_price %> <%= @order.currency %></span>
  <span class="highlight"><%= @order.financial_status %></span>
  by <span class="note"><%= @order.billing_address.name %></span>
</div>

<div id="preview">
  <%= preview_status %>
  
  <% @tmpls.each do |tmpl| %> <div id="preview-<%= tmpl.id %>"></div> <% end %>
</div>


<% javascript_tag do -%>
  $(document).ready(function() {
    checkSelectedTemplates('<%= @order.id %>');
    
    $("#selected-templates :checkbox").bind("change", function() {
      checkSelectedTemplates('<%= @order.id %>');
    });
  });
<% end -%>