<% form_remote_for(tmpl, :method => method, :html => {:id => "print_template_form"}, :loading => "Status.show()", :complete => "Status.hide()") do |f| %>
  <div class="header">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>

  <p><%= f.text_area :body, :id => 'template-editor' %></p>

  <div class="button-panel">
    <p class="buttons">
      <%= submit_tag(method.to_sym == :post ? "Create" : "Update" )%>
      or
      <%= link_to_function "Cancel", "Dialog.close();", :class => 'action' %>      
    </p>
  </div>
<% end %>

<% if method.to_sym == :post %>
  <% content_for :javascript do %>
    // select the first input field when creating a new template
    $(":text:visible:enabled:first").focus().select();
  <% end %>
<% end %>