<% nav_link :action => 'index' %>

<div id="sidebar">
  <h4>Help</h4>
  <ul>
  <li><%= link_to "How does the template language work?", "http://wiki.shopify.com/Liquid", :class => "action", :target => "wiki" %></li>
  <li><%= link_to "What variables can I use?", "http://wiki.shopify.com/Order", :class => "action", :target => "wiki" %></li>
  </ul>
</div>

<%= error_messages_for 'tmpl', :object_name => 'template' %>

<% form_for(tmpl, :method => method) do |f| %>
  <div class="header">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  
  <%= f.text_area :body, :id => "html-editor", :cols => 80, :rows => 20 %>
  
  <%= f.submit (method.to_s == 'post' ? 'Create' : 'Update') %>
  <%# TODO: fix URL, somehow it didn't work with :url => {:action => 'show', :id => tmpl} or :url => tmpl %>
  or <%= link_to "Preview", "/print_templates/show/#{tmpl.id}", :id => "preview-link" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#html-editor").markItUp(myHtmlSettings);

    <% if method == 'post' %>
      $(":text:visible:enabled:first").focus().select();
    <% end %>
    
    $("#preview-link").colorbox({fixedWidth: "60%", fixedHeight: "60%", transition: "150"});
  });
</script>