<% form_remote_for(tmpl, :method => method, :html => {:id => "print-template-form"}, :loading => "Status.show()", :complete => "Status.hide();") do |f| %>
  <div class="header">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>

 <%= f.text_area :body, :id => 'template-editor', :rows => 15 %>

  <div class="button-panel">
    <p class="buttons">
      <%= submit_tag(method.to_sym == :post ? "Create" : "Update" )%>
      or
      <%= link_to_function "Cancel", "Dialog.close();", :class => 'action' %>
    </p>
  </div>
   <%= render :partial => 'editor_help' %>
<% end %>

<% if method.to_sym == :post %>
  <% content_for :javascript do %>
    $(":text:visible:enabled:first").focus().select();
  <% end %>
<% end %>