<% form_remote_for(tmpl, :method => method, :html => {:id => "print-template-form"}, :loading => "Status.show()", :complete => "Status.hide();") do |f| %>
  <div class="header fixed">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  <div class="template-code">    
    <%= link_to "Open help", "http://wiki.shopify.com/Printing", :target => 'wiki' %>
    <%= f.text_area :body, :id => 'template-editor' %>  
  </div>


  <div class="button-panel fixed">
    <p class="buttons">
      <%= submit_tag(method.to_sym == :post ? "Create" : "Update" )%>
      or
      <%= link_to_function "Cancel", "Dialog.close();", :class => 'action' %>
    </p>
  </div>
<% end %>

<% if method.to_sym == :post %>
  <% content_for :javascript do %>
    $(":text:visible:enabled:first").focus().select();
  <% end %>
<% end %>