<% title "Your templates", :description => "You can create templates for various purposes. Use HTML and Liquid variables to edit the content." %>

<div id="sidebar">
</div>

<div class="itemlist">
  <% if @tmpls.blank? %>

    <em class="note">No templates found, you should create a new one.</em>
 
  <% else %>

    <ul>
    <% @tmpls.each do |tmpl| %>
      <li>
        <div class="template box" onmouseover="$('#<%= "#{dom_id(tmpl)}-actions" %>').show();" onmouseout="$('#<%= "#{dom_id(tmpl)}-actions" %>').hide();">
          <strong><%= link_to tmpl.name, {:action => 'show', :id => tmpl} %></strong>
          <% content_tag :span, :id => "#{dom_id(tmpl)}-actions", :class => "side-link" do %>
            <%= link_to "Edit", {:action => 'edit', :id => tmpl}, :class => 'action' %> |
            <%= link_to "Duplicate", {:action => 'new', :id => tmpl.id}, :class => 'action', :title => "Copy the contents of this template into a new one you can edit" %> |
            <%= preview_link(tmpl.id, nil, :html => {:class => 'action preview-link'}, :title => tmpl.name) %>
          <% end %>
        </div>
      </li>
    <% end %>
    </ul>
    
  <% end %>
</div>

<%= link_to "Create new template", {:action => 'new'}, :class => 'action' %>

<%= preview_status %>