<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

  <title><%= APP_NAME %></title>

  <%= stylesheet_link_tag 'application', 'jquery-ui', 'jquery.notice', :media => 'screen' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>

  <%= javascript_include_tag :defaults, 'jquery.notice' %>
  
  <% javascript_tag do %>
    $(document).ready(function() {
      <%= yield :javascript %>
      
      <!-- Flash error & notice-->
      <% if flash[:notice] %> Status.notify('<%= flash[:notice] %>'); <% end %>
      <% if flash[:error]  %> Status.error('<%= flash[:error]  %>');  <% end %>
    });
  <% end %>
</head>
	
<body>
  
  <div id="container" class="clearfix">

    <!-- Sidebar -->
    <% if @sidebar_enabled %>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    <% end %>
    
    <!-- begin div.main-->
    <div id="main">
      <%= nav_linklist_html %>
      
      <%= title_html %>
      <%= @content_for_layout %>   
    </div>
    <!-- end div.main -->

  </div>
  
</body>
</html>