<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

  <title><%= APP_NAME %></title>
  <%= stylesheet_link_tag 'jquery-ui-1.7.1.custom', 'style', :media => 'screen' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>

  <%= javascript_include_tag 'ie-fixes', :defaults, 'jquery-ui' %> 
   
  <% javascript_tag do %>
    <% if flash[:notice] %>
      window.onload = function() { Messenger.notice(<%= h(flash[:notice]).inspect %>); }
    <% end %>
    <% if flash[:error] %>
      window.onload = function() { Messenger.error(<%= h(flash[:error]).inspect %>); }
    <% end %>
    
    $(function() {
    	$("#progressbar").progressbar({value: 100});
    });
    
    $(document).ready(function() {
      <%= yield :javascript %>
    });
    
  <% end %> 


</head>
	
<body>


	
	<div id="wrapper">
		<div id="container">
      <%= @content_for_layout %> 
      
      <!-- status message (growl-like) -->
      <div id="notice-item-wrapper" style="display: none">
        <div id="notice-item">
          <p></p>
          <div id="progressbar"></div>
        </div>
      </div>
      
        
    </div> <!-- container -->

    
    <!-- Flash error & notice-->
    <div id="flashnotice" style="display:none;"></div>
    <div id="flasherrors" style="display:none;"></div>
  </div><!-- wrapper -->
  
</body>
</html>